/*-- scss:defaults --*/

/*-- scss:rules --*/


.navbar {
    // background-color: #8d1514;  // stanford
    background-color: #102c3c;  // distill 
}

a {
    color: #8d1514;
    text-decoration: none;
}